        <div class="content">
            <h2>Aluguel de Equipamentos</h2>
            <form id="aluguelForm">
                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" name="matricula" required>

                <label for="Solicitante">Nome:</label>
                <input type="text" id="solicitante" name="solicitante" required>

                <label for="equipamento">Equipamento:</label>
                <input type="text" id="equipamento" name="equipamento" required>

                <label for="dataRetirada">Data de Retirada:</label>
                <input type="date" id="dataRetirada" name="dataRetirada" required>

                <label for="dataDevolucao">Data de Devolução:</label>
                <input type="date" id="dataDevolucao" name="dataDevolucao" required>

                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" required>

                <button type="submit">Alugar</button>
            </form>
        </div>