<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar" id="menu">
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="cadastro.html">Cadastro de Equipamentos</a></li>
                    <li><a href="cadastroUsuario.html">Cadastro de Usuários</a></li>
                    <li><a href="solicitacoes.html">Solicitações</a></li>
                    <li><a href="estoque.html">Estoque</a></li>
                    <li><a href="relatorio.html">Relatório</a></li>
                    <li><a href="logout.html">Logout</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <h2>Estoque de Equipamentos</h2>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Data</th>
                            <th>Equipamento</th>
                            <th>Quantidade</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody id="estoque-table">
                        <!-- As linhas serão preenchidas dinamicamente via JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../static/estoque.js"></script>
</body>
</html>
