<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações de Equipamentos</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar" id="menu">
            <nav>
                <ul>
                    <!-- O menu será preenchido dinamicamente via JavaScript -->
                    <li><a href="home.html">Home</a></li>
                    <li><a href="cadastro.html">Cadastro</a></li>
                    <li><a href="solicitacoes.html">Solicitações</a></li>
                    <li><a href="estoque.html">Estoque</a></li>
                    <li><a href="relatorio.html">Relatório</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <h2>Solicitações de Equipamentos</h2>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Solicitante</th>
                            <th>Equipamento</th>
                            <th>Data de Retirada</th>
                            <th>Data de Devolução</th>
                            <th>Status</th>
                            <th>descricao</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody id="solicitacoesBody">
                        <!-- As linhas serão preenchidas dinamicamente via JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <script src="../static/solicitacoes.js"></script>
</body>
</html>
