        <div class="content">
            <div class="form">
                <h2>Cadastro de Equipamentos</h2>
                <form id="cadastroForm">
                    <label for="matricula">Matrícula:</label>
                    <input type="text" id="matricula" name="matricula" required>

                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data" required>

                    <label for="equipamento">Equipamento:</label>
                    <input type="text" id="equipamento" name="equipamento" required>

                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" required>

                    <label for="descricao">Descrição do Equipamento:</label>
                    <textarea id="descricao" name="descricao" required></textarea>

                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>


