        <div class="content">
            <h2>Estoque de Equipamentos</h2><br>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Data</th>
                            <th>Equipamento</th>
                            <th>Quantidade</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody id="estoque-table">
                    </tbody>
                </table>
            </div>
        </div>
