<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar" id="menu">
            <nav>
                <ul>
                    <!-- O menu será preenchido dinamicamente via JavaScript -->
                </ul>
            </nav>
        </div>

        <div class="content">
            <h2>Bem-vindo ao Sistema de Gestão</h2>
        </div>
    </div>
        <!-- Footer -->
        <footer class="#">
            <div class="#">
                <div class="text-muted">Copyright &copy; todos os direitos reservados - Controle de Estoque do Setor de TI da HUERB</div>
            </div>
            <div>
                <a href="#">Política de privacidade</a>
               &middot;
               <a href="#">Termos &amp; Condições</a>
           </div>
        </footer>
    <script src="../static/script.js"></script>
</body>
</html>