        <div class="content">
            <h2>Relatório de Aluguéis</h2><br>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Solicitante</th>
                            <th>Equipamento</th>
                            <th>Data de Retirada</th>
                            <th>Data de Devolução</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody id="relatorio-table">
                        <!-- As solicitações aprovadas serão preenchidas dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>

