<div class="content">
    <h2>Relatório de Aluguéis</h2>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>Solicitante</th>
            <th>Equipamento</th>
            <th>Data de Retirada</th>
            <th>Data de Devolução</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody id="relatorio-table">
          <tr *ngFor="let solicitacao of solicitacoesAprovadas">
            <td>{{ solicitacao.matricula }}</td>
            <td>{{ solicitacao.solicitante }}</td>
            <td>{{ solicitacao.equipamento }}</td>
            <td>{{ solicitacao.dataAluguel}}</td>
            <td>{{ solicitacao.dataDevolucao}}</td>
            <td>{{ solicitacao.status }}</td>
            <td>
              <button (click)="marcarComoDevolvido(solicitacao.id)">Marcar como Devolvido</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  