<body>
    <div class="login-container">
        <div class="login-form">
            <img src="login.png" alt="Imagem de Login" class="login-image">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">Nome de Usuário:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>