<a class="skip-link" [routerLink]="currentUrl" fragment="main">
</a>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão</title>
    <link rel="stylesheet" href="/front/src/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar" id="menu">
            <nav *ngIf="isLoggedIn()">
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/cadastro-equipamento">Cadastro de Equipamentos</a></li>
                    <li><a routerLink="/cadastro-usuario">Cadastro de Usuários</a></li>
                    <li><a routerLink="/solicitações">Solicitações</a></li>
                    <li><a routerLink="/estoque">Estoque</a></li>
                    <li><a routerLink="/relatorio">Relatório</a></li>
                    <li><a routerLink="/login">Logout</a></li>
                </ul>
            </nav>
        </div>
        <main id="main">
            <app-alerta></app-alerta>
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer>
        <span>Copyright &copy; todos os direitos reservados - Controle de Estoque do Setor de TI da HUERB</span>
        <span>Suporte técnico: (68) 8888-8888 | <a href="mailto:aluno.sistemas@ufac.br">aluno.sistemas&#64;ufac.br</a></span>
    </footer>
</body>

